<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheejee.cms.dao.LogDAO">
    <resultMap type="log" id="logMap">
        <id column="id" property="id"/>
        <association property="user" column="user_id" select="com.cheejee.cms.dao.UserDAO.selectUser"></association>
    </resultMap>
    
    <select id="selectLog" resultMap="logMap">
        SELECT * FROM log WHERE id=#{id}
    </select>
    
    <select id="selectLogByTime" resultMap="logMap">
        SELECT * FROM log 
        WHERE create_time 
        BETWEEN #{beginTime}
        AND #{endTime} 
<!--         &lt;=#{endTime} -->
<!--         AND create_time -->
<!--         &gt;=#{beginTime} -->
    </select>
    
    <select id="selectLogByUser" resultMap="logMap">
        SELECT * FROM log WHERE user_id=#{user.id}
    </select>
    
    <select id="selectLogByModule" resultMap="logMap">
        SELECT * FROM log
        WHERE module=#{module}
    </select>
    
    <select id="selectLogByResult" resultMap="logMap">
        SELECT * FROM log
        WHERE result=#{result}
    </select>
    
    <select id="selectLogByIpExact" resultMap="logMap">
        SELECT * FROM log
        WHERE ip=#{ip}
    </select>
    
    <select id="selectLogByIp" resultMap="logMap">
        SELECT * FROM log 
        WHERE ip &amp;#{ip}=#{ip} 
<!--         WHERE ip |#{ip}=#{ip} -->
<!--         WHERE ip ^#{ip}=0  -->
    </select>
    
    <select id="selectLogByOperate" resultMap="logMap">
        SELECT * FROM log
        WHERE operate=#{operate}
    </select>
    
    <select id="listLog" resultMap="logMap">
        SELECT * FROM log
    </select>
    
    <insert id="addLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO log 
        (module, operate, message, result, ip, user_id)
        VALUES(#{module}, #{operate}, #{message}, #{result},
          #{ip}, #{user.id})
    </insert>
    
    <delete id="deleteLogBefore">
        DELETE FROM log WHERE create_time &lt;#{time}
    </delete>
    
</mapper>
